body {  
  box-sizing: border-box;
}

.container-div {
  height: 100vh;
  width: 100%;
}
.img-ibm {
  height: 100 vh;
  width: 100%;
}

.row {
  margin: 0 !important;
} 
.btn {
  transition: 0.5s !important;
}
.btn:active {
  transform: scale(0.8)
}